body
{
    margin: 0 auto;
}


#table-div 
{
    width: 1000px;
    border: 1px solid;
    display: block;
    height: 185px;
    overflow: auto;
    table-layout: fixed;
}

.main-table
{

}


.main-table th
{
    width: 100px;
    color:red;
}

.main-table tbody
{
	height:100px;
}


.selected
{
    background: green;
}

.unselected
{
    background : white;
}


#search-button
{
   width:23px;
}
#search-span
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#add-span
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
#crud-span
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
