body
{
    width: 512px;
   margin: 0 auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table th {
    position: sticky;
    top: 0;
    
 
}

.edit-task-name
{

}

.custom-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.9;
    z-index: 1040;    
}

#table-div 
{
    width: 512px;
    border: 1px solid;
    display: block;
    height: 185px;
    text-align: center;
    overflow: auto;
    table-layout: fixed;
}
#tableBody tr
{
    height: 50px;
}


#tableBody tr:hover
{
    background-color:grey;
    cursor: pointer;
}

.main-table
{

}
.main-table th
{
background-color: #222831;
color: white;  
}

.main-table tbody
{
	height:100px;
}

#delete-span p
{
    color: red;
}


.main-table-data-column
{
    width: 312px
}

.main-table-id-column
{
    width:50px
}

.main-table-priority-column
{


    width: 100px
}

.main-table-action-column
{
    width: 50px; 

}



i:hover
{
    cursor: pointer;
    color: red;

}

.selected
{
    background-color: #00adb5;
}

.unselected
{
    background : white;
}


#search-button
{
 width:23px;
}
#search-span
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#add-span
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
#crud-span
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

/*
.no-close .ui-dialog-titlebar-close {
  display: none;
}
*/